@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgb(36, 36, 36); ow install */
}

.contactIcon {
  @apply text-[#F7AB0A]
    h-5 md:h-7
    w-5 md:w-7
    animate-pulse;
}

span.contactIcon {
  @apply fill-[#F7AB0A]
    h-5 md:h-7
    w-5 md:w-7
    animate-pulse
    flex
    items-center
    justify-center;
}

div.contactInfo {
  @apply flex
    items-center
    justify-center
    space-x-5;
}

.custom-cursor {
  position: fixed;
  width: 54px;
  height: 54px;
  border: 2px solid transparent;
  border-radius: 150%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: left 0.2s ease-out, top 0.2s ease-out;
  box-shadow: 0 0 0 3px #c25604;
}
